*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.options {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #588B8B;
}

.options-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;
  border-radius: 20px;
  background-color: #E6AF2E;
  gap: 50px
}

.mode {
  background-color: #ACE4AA;
  width: 200px;
  height: 100px;
  border-radius: 50px;
  font-size: larger;
  border: none;
}

.mode:hover {
  background-color: #03440C;
  color: white;
}

.symbol {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #ACE4AA;
  border: none;
  font-size: xx-large;
  margin: 30px;
}

#X {
  background-color: #03440C;
  color: white;
}

.game {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #588B8B;
  gap: 20px;
}

.game-board {
  width: 600px;
  height: 600px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
}

.tile {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}

.back-button {
  height: 70px;
  width: 100px;
  border-radius: 35px;
  border: none;
  background-color: #E6AF2E;
  font-size: larger;
}

.back-button:hover {
  background-color: #03440C;
  color:white;
}